body, html{
  margin: 0;
  background-color: #D1E2E8;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  position: relative;
  padding: 0;
}
#container{
  padding: 0 120px 0 120px;
  margin-top: 5px;
  /* position: relative; */
}
h2{
  color:black;
  line-height: 30px;
}
.small{
  font-size: 13px;
}
.large{
  font-size: 16px ;
}
.img--trending>img{
  width: 596px;
  height: 385px;
}

.div--row , .blog--mini, .div--row__blog {
  display: flex;
}
.red{
  color: red;
}
.bold{
  font-weight: bold;
}
.blog--gradient{
  color: rgb(73, 70, 70)
}
/* Thời gian ra bài */
.p__note--time>p:nth-of-type(1){
  float: left;
}
.p__note--time>p:nth-of-type(2){
  float: right;
}
.p__note--time{
  position: absolute;
  bottom: 0;
}
.p__note--time>p{
  font-size: 10px;
  margin-right: 30px;
} 


/* thong tin bo sung trên bài đăng */
.blog__trending--title{
  float: right;
}
.div--information{
  padding-left: 20px;
  position: relative;
}
/* Thanh breaking new */
.div__row--2{
  width: 100%;
  height: 70px;
  background-color: #065F73;
  margin: 20px 0px;
}
/* khung breaking new */
.breaking_news{
  display: inline-block;
  background-color: white;
  width: 200px;
  line-height: 100px;
  text-align: center;
  margin-right: 5px;
}
.div__row--2 marquee, .div__row--2 div{
  line-height: 50px;
  /* text-align: center; */
  margin: auto;
  color: white;
}
#word--color{
  color: #065F73;
}
/* Thanh menu nhỏ */
.div__row--315{
  width: 100%;
  height: 50px;
  background-color:white;
  margin-top: 20px;
  /* border-radius: 15px; */
}
.div__row--3>a{
  color: white;
}
.div__row--3{
  width: 79%;
  height: 50px;
  background-color:#065F73;
  margin-top: 40px;
  border-radius: 15px;
}
.div__row--3>a , .div__row--315>a {
  margin: 0px 20px;
  line-height: 50px;
  text-align: center;
}
/* blog sections */
.blog{
  background-color: white;
  margin: 20px 17px 0 0;
  width: 328.5px;
  height: 390px;
  box-shadow: 5px 2px 4px  rgba(88, 88, 88, 0.192);
  border-radius: 20px;
  position: relative;
}
.blog--information{
  padding-left: 10px;
  padding-right: 10px;
}
.blog img{
  width: 328.5px;
  height: 157.5px;
}
/* border radius cho ảnh trong blog */
.blog img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.blog>p{
  margin-top: 20px;
}
hr{
  margin: 0 80%;
}

/* Blog mini */
.blog--mini{
  /* width: 546.42px; */
  width: 50%;
  /* justify-content: space-between; */
  /* height: 161.09px */
}
.blog--mini img{
  width: 222.16px;
  height: 161.09px;
}
.blog__mini--information{
  max-width: 310px;
  padding-left: 20px;
  padding-right: 10px;
}

/* button viewmore */
.button--viewmore{
  background-color: none;
  color: #065F73;
  border: 1px solid #065F73;
  padding: 15px 25px;
  margin-top: 20px;
  margin-left: 300px ;
}
/* Bỏ dấu gạch chân trong link và điều chỉnh hover */
a{
  text-decoration: none;
  color: black;
}
.div--row>h2{
  color: #065F73;
}
.div--row a:hover{
  color: #005669;
}

/* Khung live */
.live img{
  width: 370px;
  height: 218px;
}
.live{
  width: 320px;
  height: 280px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 2px 4px  rgba(88, 88, 88, 0.192);
  z-index: 100;
}
.live p{
  padding: 5px 7px;
  margin-top: 2px;
}
.live img{
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

/* .live a{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
} */

/* Chèn live và hotpick qua phải */
.hotpick{
  float: right;
}

.numpage{
  text-align: center;
}
/* ký hiệu trang */
.hotpick--page{
  margin: 10px auto; 
}
.hotpick--page a{
  margin: 10px 5px;
  color: #9ed7ec;
}
@media only screen and (max-width: 1024px){
  body, html  {
      padding: 0px; 
  }
  .img--trending>img{
      width: 100%;
      position: absolute;
      top: 110px;
  }
  .div--information>.p--note{
      margin-top: 450px;
      width: 100%;
  }
  .div--row{
      display: inherit;
  }
  #container{
      position: relative;
      padding: 0 5px;
  }
  .div__row--2 > div{
      line-height: 70px;
  }
  /* .hotpick, */
  .live{
      float: none;
  }
  .sieu_manh{
      display: flex;
      overflow-x: scroll;
  }
  .div__row--3{
      width: 100%;
      text-align: center;
  }
}
@media only screen and (max-width: 376px){
  body, html{
      padding: 0px;
      margin: 0px;
  }
  .img--trending>img{
      width: 100%;
      position: absolute;
      top: 170px;
  }
  .live{
      width: 100%;
      margin: auto;
      position: inherit;
      bottom: 0;
      right: 0;
  }
  /* .div--row1{
      display: flex;
      width: 100%;
  } */
  .blog{
      width: 200px;
      height: 270px;
  }
  .blog p{
      font-size: 9px;
      line-height: 12px;
  }
  .blog .large{
      font-size: 13px;
      font-weight: 600;
  }
  .blog img{
      width: 200px;
      height: 96px;
  }
  .div--row {
      display: inherit;
  }
  .hotpick{
      float: none;
  }
  .blog--mini{
      width: 100%;
      margin-top: 5px;
  }
  .blog--mini img{
      width: 150px;
      height: 100px;
  }
  .div__row--2{
      height: 50px;
  }
  .div__row--315{
      display: flex;
      overflow-x: scroll;
  }
}