.doctor__background-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.3)) , url(../IMAGES/header.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.doctor__title{
    font-size: 50px;
    font-weight: bold;
    color: white;
    line-height: 20vh;
    margin-left: 10%;
}
.doctor__container-1{
    background-image: url(../IMAGES/BKG.png);
    background-size: 100% auto;
}
.doctor__list{
    display: flex;
}
.doctor--role{
    width: 25%;
    height: 45%;
    top: 40px;
    right: 60px;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 20px;
    color: rgba(84, 88, 89, 1);
    margin-top: 30px;
    margin-right: 30px;
    text-align: center;
}
.doctor--role div {
    margin-top: 10px;
    margin-bottom: 10px;
}
.doctor--role >hr{
    width: 70%;
    margin-left:15%;
}
hr{
    width: 60%;
    margin-left: 8%;
}
.doctor__list--item{
    display: flex;
    width: 60%;
    margin-left: 8%;
    padding-top: 30px;
}
#an{
    min-width: 70%;
}
.doctor__name{
    font-size: 30px;
    font-weight: bold;
    color: rgba(84, 88, 89, 1);
    margin-top: 0px;
}
.doctor--information{
    margin-left: 20px;
    font-size: 20px;
    flex: 1;
    color: rgba(84, 88, 89, 1);
}
.doctor--information--bonus{
    flex: 1;
    font-size: 20px ;
    color: rgba(84, 88, 89, 1);
}
#doctor--appointment{
   float: right;
   height: 20px;
   margin-top: 40px;
   border: 1px, black, solid;
   border-radius: 5px;
   background-color: rgba(115, 188, 217, 1);
}
.button{
    display: none;
}
.doctor__ul{
    display: flex;
    margin-left: 30%;
}
.doctor__number{
    width: 20px;
    height: 20px;
    background-color: rgba(6, 95, 115, 1);
    margin: 10px 5px;
    text-align: center;
    border-radius: 45%;
}
.number--link{
    color: black;
    text-decoration: none;
}
.doctor__number--more{
    width: 20px;
    height: 20px;
    margin: 10px 2px;
    text-align: center;
}
.doctor__ul-mobile{
    display: none;
}

@media screen and (max-width: 834px) {
    .container--1{
        display: none;
    }
    .container--2{
        display: none;
    }
    .doctor__background-header{
        height: 8vh;
    }
    .doctor__title{
        line-height: 8vh;
        margin-left: 25%;
    }
    .doctor__list{
        display: flex;
        flex-wrap: wrap-reverse;

    }
    .doctor--role{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .doctor--role div{
        width: 33%;
    }
    .doctor__list > .doctor__box >hr{
        display: none;
    }
    .doctor__img{
        width: 200px;
        height: 250px;
    }
    .doctor__list--item{
        width: 90%;
        margin-left: 5%;
    }
    .doctor__ul{
        display: none;
    }
    .doctor__ul-mobile{
        display: inline;
        width: 100%;
        margin-left: 30%;
        margin-top: 20px;
    }
    .doctor__ul-mobile > a{
        font-size: 20px;
        color: black;
        text-decoration: underline;
    }
}
@media screen and (max-width:428px) {
    .container--1{
        display: none;
    }
    .container--2{
        display: none;
    }
    .doctor--role{
        display: none;
    }
    .doctor__background-header{
        height: 8vh;
    }
    .doctor__container-1{
        padding-top: 10px;
        height: 135vh;
    }
    .doctor__title{
        font-size: 25px;
        line-height: 8vh;
        margin-left: 30%;
    }
    .doctor__list > .doctor__box >hr{
        display: none;
    }
    .doctor__list--item{
        border: 1px solid;
        padding: 15px 15px;
        border-radius: 10px;
        width: 85%;
        margin-left: 4%;
        margin-top: 10px;
    }
    .doctor__img{
        width: 150px;
        height: 170px;
    }
    .doctor--information--bonus{
        display: none;
    }
    .doctor__name{
        font-size: 20px;
    }
    .doctor--information{
        font-size: 15px;
    }
    .button{
        display: inline;
        height: 20px;
    }
    .doctor__ul{
        display: none;
    }
    .doctor__ul-mobile{
        display: inline;
        width: 100%;
        padding-top: 50px;
    }
    .doctor__ul-mobile > a{
        font-size: 20px;
        color: black;
        text-decoration: underline;
    }
}
