html, body{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container--1{
  background-color: rgba(6, 95, 115, 1);
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  transition: top 0.3s;
}
.icon__phone{
  height: 50px;
}
.search img{
  height: 40px;
  margin-top: 5px;
}
input[type="text"]{
  height: 30px;
  margin-top: 7px;
}
.search{
  display: flex;
  margin: auto 15px;
}
#contact{  
  margin-left: 5px;
  margin: auto 3px;
  font-size: 20px;
  color: white;
}
#contact p{
  margin: 0;
}
.option{
  float: right;
  flex: 3;
}
.box__icon{
  display: flex;
  flex: 1;
}
.id{
  float: right;
  display: flex;
}
.link{
  color: white;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 10px;
  line-height: 50px;
}
#button-login{
  height: 30px;
  border-radius: 5px;
  width: 70px;
  background-color: rgba(115, 188, 217, 1);
  color: white;
  margin-top: 10px;
  margin-right: 20px;
}
.container--2{
  width: 100%;
  height: 70px;
  margin-top: 50px;
  display: flex;
  background-color: white;
  /* position: fixed; */
  /* z-index: 2; */
}
.name__menu img{
  height: 50px;
}
#menu{
  margin: 20px 60px 20px 10px;
  height: 30px;
}
.img{
  margin-left: 30px;
  margin-top: 10px;
}

.name img{
  margin: 10px auto;
}

.name__menu{
  flex: 2;
  display: flex;
}
.button-function{
  background-color: rgba(115, 188, 217, 1);
  font-weight: bold;
  height: 40px;
  margin-top: 15px;
  border-radius: 5px;
  margin-right: 10px;
}
.function--3{
  margin-right: 30px;
}
a{
  text-decoration: none;
}
.div--row a:hover{
  color: #005669;
}