/*----------- header--------------- */
body, html{
  padding: 0;
  margin: 0;
}
.col-sm-6{
  padding-left: 130px !important;
}
.container-fluid{
  padding: 2px !important;
}
.navbar{
  background-color: #065F73;
}
.nav-brand__color{
  color: white;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 5px;
}
.nav-brand__color:hover{
  color: #73BCD9;
}
.nav-item__detail{
  text-decoration: none;
  color: white;
  margin: 20px;
}
.nav-item__detail:hover{
  color: #73BCD9;
}
.material-icons{
  color: white;
}
.login-btn{
  width: 100px;
  color: white;
  background-color:#73BCD9;
  border-radius: 10px;
  margin-left: 30px;
}
.login-btn:hover{
  background-color: #84bfd6;
}
/*---------------- body----------------------*/
.col-sm-6 button{
  height: 50px;
  width: 150px;
  margin: 5px;
  background-color: #73BCD9;
  border-radius: 10px;
}
.col-sm-6 button:hover{
  background-color: #84bfd6;
}
.mid-nav{
  background-color: white;
  padding-top: 15px;
  padding-bottom: 0;
}

.row{
  width: 100%;
}


/*-------- footer--------*/
.bg-footer{
  background-color: #065F73;
  color: white;
}
.cpr-bg{
  background-color: white;
}
.cpr-bg a{
  color: black;
  text-decoration: black;
}
.ft-link{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.ft-link:hover{
  color: #73BCD9;
}

@media only screen and (max-width: 1025px){
  .col-sm-6 button{
    width: 130px;
    height: 40px;
  }
  .col-sm-6{
    padding-left: 50px !important;
  }
}
@media only screen and (max-width: 376px){
  .col-sm-6{
    padding-left: 30px !important;
  }
}