body,html{
    margin: 0;
    padding: 0;
    background-image: url(../Images/background.png);
    font-family: 'Lato', sans-serif;
}
.bodyContainer{
    color: rgba(76, 71, 71, 1);
    margin:0;
    margin-bottom: 10px;
    
}
.part1{
    border-radius: 0px 0px 405px 0px ;
    height: 600px;
    max-width: 60%;
    object-fit: contain;
}
.background_img{
    position: absolute;
    border-radius: 0px 0px 405px 0px ;
    height: 600px;
    max-width: 60%;
}

.container__introduction{
position: absolute;
z-index: 2;
padding: 10px;
background-color: rgba(115, 188, 217, 0.68);
height: 600px;
max-width: 60%;
border-radius: 0px 0px 405px 0px
}
.container--intro{
    font-size: 60px;
    font-family: Lato;

}
.container--praise{
  
    font-size: 28px;
    color: white;
    font-style: italic;
    font-weight: 400;
}
#name{
    color: red;
}
.container--slogan{
    margin: 50px 0px 30px 5px;
        font-weight:bold ;
        font-size: 30px;
}
.sub-slogan{
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
    margin-top: 0px;
}
.email--input{
    display: flex;
    position: relative;
}
.emai--input>#email{
    position: absolute;
}
#email{
    border-radius:10px ;
    height: 50px;
    background-color: rgba(223, 240, 242, 1);
    width: 400px;
}
#email::placeholder{
    font-size:20px ;
    font-family: Lato;
    font-style: italic;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
}
#button-go{
    color: white;
    background-color:#275059 ;
    border-radius: 15px;
    height: 40px;
    width: 80px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
}
.part2{
display: flex;
flex-direction: row;
justify-content: center;
}
.bodyContainer--text{
    font-size: 50px;
    font-weight: bold;
    font-family: Lato;
    position: absolute;
}
.text1{
    align-self: flex-start; 

}
.text2{
    align-self: flex-end;
}
.bodyContainer--box{
    border-radius: 20px;
    width: 20%;
    max-width: 250px;
  height: 460px;
    background: linear-gradient(rgba(115,188,217,1), rgba(115,188,217,0.48));
    margin: 30px;
   padding: 20px;
   text-align: center;
   color: rgba(76, 71, 71, 1);
   font-size: 30px;
}
.text2>a{
text-decoration: none;
color: red;

}
.lower1{
    margin-top:120px;
}
.lower2{
    margin-top: 200px;
}
.part3{
    margin-left: auto;
    margin-right: auto;
}
.vision--container{
    display: flex;
    background-color: #065F73;
    border-radius: 500px 0px 0px 500px;
    height: 250px;
    color: white;
    

}
.vision--container--text{
height: 95%;
}
.vision--container--textbox{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
   margin: auto;
}
.vision--tittle{
font-weight: bold;
font-size: 48px;
width: 100%;

}
.vision-describe{
font-style: italic;
font-size: 25px;
width: 80%;
}

.image-slide>img{
    width: 350px;
    height: 220px;
}
#slideShow--image{
    border-radius: 50%;
}
.specialist--container--header{
    font-size: 64px;
    text-align: center;
    margin: 5px 0px 10px 0px;
}
.image-slide{
    padding: 5px;
    display:flex;
    justify-content: center;
}
.image-slide>img{
    padding: 0px 20px;
}
.part4{
    margin: 50px 50px ;
}
.review-picture{
    height: 320px;
    width: 535px;
    margin: 0px 20px;
}
.review--container{
display: flex;
}
.review-textbox{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.review__section{
    font-size: 50px;
    font-weight: bold;
    margin: 50px 20px;
    font-style: italic;
}
.review--tittle{
    font-size: 25px;
    font-weight: bold;
}
.review--content{
    font-size: 20px;
}
.review--more{
    font-size: 18px;
    font-style: italic;
    text-align: right;
}

.shadow-right{
    box-shadow:20px 20px #065F73 ;
}
.shadow-left{
    box-shadow:-20px -20px #065F73 ;
}
.part5{
display: flex;
justify-content: center;
padding: 10px 100px;
background-color:#065F73 ;
}

.news--img>img{
    height: 200px;
    object-fit: cover;
    width: 100%;


}
.newsContainer{
    width: 20%;
    background-color:#DFF0F2 ;
    font-size: 23px;
    margin: 10px 20px;
    padding: 0px 0px ;
}
.news--content--header{
    font-weight: bold;
    margin: 10px 0px;
}
.news--content{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
   
}
.news--footer{
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}