@media only screen and (max-width: 376px){
    body, html{
        padding: 0px;
        margin: 0px;
    }
    .art__content--all{
        width: 100%;
    }
    .art--header>h1{
        padding: 10px 5px;
    }
    .art--recommend{
        float: none;
    }
}