.popup-container{
   width: 70%;
   max-width: 1000px; 
   background-color: #CBE6EE;
   color: #545859;
   font-size: larger;
   font-family: Lato;
   margin: auto;
   padding: 20px;
}

.popup--date{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #73BCD9;
}
.popup-info{
    background-color: white;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
.info--content>label{
    font-weight: bold;
}
.popup-table{
    margin: 30px;
}
table,td,th,tr{
    border: 3px solid #CBE6EE;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
    text-align: center;
    width: 250px;
}
tr:nth-child(even){
    background-color:whitesmoke ;
}
tr:nth-child(odd){
    background-color:#73BCD9 ;
}
@media screen and (max-width: 380px) {
    .popup-container{
        font-size: 10px;
    }
    .popup-table{
        margin: 10px 0px 0px;
    }
}