@media only screen and (max-width: 1024px) {
    * {
        box-sizing: border-box;
      }
 .option{
        display: none;
    }
      .pt-main{
     margin:1vh 5vw; 
 }
 .pt-main__column{
    width: 30vw;
    margin-left: 4%;
}
 .pt-main__item--img img{
    width: 22vh;
 }
 body{
     font-size: 0.9rem;
 }
 .pt-main__box{
     height: 105px;
     width: 20vw;
     margin-bottom: 10px;
     overflow-y: auto;
 }
 .pt-main__box--result{
    max-height: 450px;
 }
 .pt-main__box>img{
    height: 15px;
}
}
@media only screen and (max-width: 400px){
.option{
    display: none;
}
.pt-main__years{
    margin:1vh 5vw; 
}
.pt-main_1{
    display: flex;
    flex-wrap: wrap !important;
}
.pt-main__box{
    width: 130px;
    height: 80px !important;
}
.pt-main__column--3{
    margin-left: 45px;
}
.pt-main__item--end{
    display:flex;
    flex-direction: column !important;
}
.pt-main__item--end img{
    width: 100% !important;
}

.pt-main__box--result{
    width: 300px !important;
    margin-bottom: 20px;
}
body{
    margin: auto !important;
    padding: auto;
}
.pt-main--img img{
    width: 70%;
}
.pt-main__box-2{
    padding-top: 10px;
}
.pt-main__box>img{
    height: 12px;
}
}
