/* after hours services page = ah */
.ah--container{
    display: flex;
    flex-direction: row;
    background-image: url(../Images/background.png);
}
.ah--box{
    width: 40%;
    max-width: 600px;
   
    color: #545859;
    font-family: Lato;
    margin-top: 20px;
}
.after-hours--tittle{
    font-weight:bolder;
}
.ah-right--box--content{
font-size: 30px;
font-weight: 700;
margin: 15px 0px 20px;
}
.ah-right--box--subcontent{
    font-size: 25px;
    margin-bottom: 10x;
}
.ah-right--box--link{
    font-size: 18px;
    font-style: italic;
}
.ah-right--box--call{
    margin: 30px 0px;
    color: #F9F9FF;
    font-size: 35px;
    font-weight: 800;

}
.ah-right--box--phone{
    padding-left: 100px;
    font-size: 40px;
    color: #8F2828;
    font-weight: bolder;
}
.ah--image{
    background-color:#73BCD9 ;
    margin-top: 20px;
}
.left--box{
    background-color: #73BCD9;
    padding: 20px 60px;
}
.right--box{
    font-weight: bold;
    font-size: 45px;
    text-align: center;

}
.ah--right--box--item{
width: 100%;
height: 33.33%;

}
.box-item-1{
    background-color: #95BAC6;
}
.box-item-2{
    background-color: #B0D7E2;
}
.box-item-3{
    background-color: #DAB1B1;
}
.ah--container--article{
    color: #545859;
 padding: 20px 80px;
    background-color: #DFF0F2;
    font-family: Lato;

}
.article-section--tittle{
    text-align: center;
 
}
.ah--article--titlle{
    margin-top: 20px;
font-size: 30px;
font-weight: 900;
}
.ah--article--section--header{
    font-size: 25px;
    font-weight: 700;
}
.ah--article--textbox{
    padding: 20px;
    color: black;
    font-size: 20px;
    border-radius:20px ;
    background-color: white;
    margin: 30px 0px;
}
.ah--article--contact{
    text-align: center;
}
.ah--article--footer{
    font-size: 14px;
    margin: 30px 0px;
}
#ah--button{
    border-radius:50px ;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color:#73BCD9 ;
    width: 60px;
    height: 30px;
    bordeR: 1px solid #73BCD9;
    margin: 0px 7px;
}
.ah--article--section--para{
    margin: 22px 0px;
    
}
.ah--container--article>div{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
    max-width: 600px;
  
}
