body,html{
    margin: 0;
    font-size: Lato;
}
.service--body{
    background-image: url(../Images/background.png);
    display: flex;
    justify-content:center;
    font-family: Lato;
    color: #545859;
    
}
.service-navigation{
    background-color: #73BCD9;
    ;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    font-family: Lato;
    color: #545859
}
.service--content{
    padding: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
.service--content--tittle

{
    font-size: 50px ;
    font-family: Lato;
    font-weight: bold;
    color: #545859;
}
.service--content--textbox{
   border-radius: 20px;
    background-color: #95BAC6;
    box-shadow: 4px 4px gray ;
    padding: 10px;
    max-width: 400px;
}
.service--button
{  left: 420px;
    position: absolute ;
    border-radius: 50px;
    font-size:25px ;
    font-weight: bold;
    line-height: 40px;
    box-shadow: 4px 4px gray;
    right: 20px;
}
.service--optionbar{
    display: flex;
    justify-content: center;
    height: 35px;
    background-color: #B0D7E2;
    font-size: 22px;
    font-weight: bold;
    color:#545859;
    line-height: 35px;
}
.service--container{
    padding: 20px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 100px;
}
.service--optionbar--links{
   
    background-color: #95BAC6;
    margin: 0px 5px;
    padding: 0px 10px;
    
}
.service--optionbar--links>a{
    text-decoration: none;
    color:#545859;
}
.service--optionbar--search__box{
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
}
.search--box{
    margin: 0px 5px;
    border-radius: 10px;
    height: 25px;
    
}
.service--mainOption{
    margin: 20px;
    display: flex;
    justify-content: space-between;

}
.service--options{
    width: 150px;
    height: 150px;
    background-color: #95BAC6;
    margin: 20px;
    border-radius: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: #545859 2px 2px 2px;
}
.iconify{
    width: 120px;
    height: 120px
}
.icon--name{
    margin-top: 50px;
    margin-bottom: auto;
    font-size: 20px;
    font-weight: bold;
}
.pservice--body{
    background-image: url(../Images/background.png);
    color: #545859;
    font-family: Lato;
    
}