@media only screen and (max-width: 1024px){
    body, html  {
        padding: 0px; 
    }
    .img--trending>img{
        width: 100%;
        position: absolute;
        top: 110px;
    }
    .div--information>.p--note{
        margin-top: 450px;
        width: 100%;
    }
    .div--row{
        display: inherit;
    }
    #container{
        position: relative;
        padding: 0 5px;
    }
    .div__row--2 > div{
        line-height: 70px;
    }
    /* .hotpick, */
    .live{
        float: none;
    }
    .sieu_manh{
        display: flex;
        overflow-x: scroll;
    }
    .div__row--3{
        width: 100%;
        text-align: center;
    }
}