@media only screen and (max-width: 1024px){
    body{
        background-size: 1200px 100vh;
    }
    .form--row{
        display: inherit;
    }
    .form--container2, .form--container>div>p{
        width: 96%;
    }
    .form--container>div>h3{
        text-align: center;
        margin: 10px auto;
    }
    .form--row>select, .form--row>input {
        margin-top: 0px;
        padding-top: 0px;
    }
    .form--row>label{
        margin-top: 10px;
    }
    .form--input{
        width: 96%;
    }
    #nexttopayment{
        margin: 10px auto;
    }
    .form--row:last-child{
        text-align: center;
    }
    
    .radio--row{
        display: flex;
    }
    .connect{
        height: 20px;
    }
}
