<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TK Hospital | Homecare</title>
    <link rel="stylesheet" href="../CSS/home_care.css">
    <link rel="stylesheet" href="../CSS/footer.css">
</head>
    <script src="../Script/angularjs.js"></script>
    <script src="../Script/Homecare-Script.js"></script>
<body>
        <iframe src="./header.html" frameborder="0" style="width: 100%;" height="100%" name="header" ></iframe>
        <div class="product__page" ng-app="DoctorApp" ng-controller="DoctorController">
            <div class="product__form-container">
                <div class="product__form-title">REGISTER FOR HOMECARE</div>
                <div class="product__form-content">
                    <form action="#" method="get" class="product__form">
                        <div class="product__user-details">
                            <div class="product__input-box">
                                <span class="product__details">Full Name</span>
                                <input class="product__form-input" type="text" placeholder="Type your name" disabled>
                            </div>
                            <div class="product__input-box">
                                <span class="product__details">Date of Birth</span>
                                <input class="product__form-input" type="date" placeholder="Type your birthday"disabled>
                            </div>
                            <div class="product__input-box">
                                <span class="product__details">Email</span>
                                <input class="product__form-input" type="text" placeholder="example@example.com"
                                    disabled>
                            </div>
                            <div class="product__input-box">
                                <span class="product__details">Phone</span>
                                <input class="product__form-input" type="text" placeholder="Type your phone number"
                                    disabled>
                            </div>
                            <div class="product__input-box">
                                <span class="product__details">Address</span>
                                <input class="product__form-input" type="text" placeholder="Type your address" disabled>
                            </div>
                        </div>
                        <div class=" product__input-box product__choose-doctor">
                            <span class="product__details">Choose available doctor</span>
                            <select name="" id="" ng-model="chosenDoctor" ng-options="d.DoctorName for d in doctors">
                            </select>
                        </div>
                        <div class="product__user-details">
                            <div class="product__input-box">
                                <span class="product__details">Date your want to test</span>
                                <input class="product__form-input" type="date" placeholder="Nhập ngày bạn muốn khám"
                                    required>
                            </div>
                            <div class="product__input-box">
                                <span class="product__details">Select available time</span>
                                <input class="product__form-input" type="time" placeholder="--:--"
                                    required>
                            </div>
                        </div>
                        <div class="product__form-button">
                            <input type="submit" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
         <!-- <div class="detail--container" ng-app="ServiceApp">
        <div class="detail--column-one" ng-controller="ServiceController">
            <div class="column--one--header"  ng-repeat="d in serviceList" >
                <a ng-repeat="d in serviceList" href="./Services--details.html?ID={{d.DepartId}}">
                    {{d.Department}}
                </a>
            </div>
        </div>
        <div class="detail--column-two" ng-controller="ServiceDetailController">
            <div class="detail--description">
                <div class="mySlides" ng-repeat="s in selectedDepart.List"
                ng-style="$first ? { 'display':'block' } : { 'display': 'none' }">
                <img src="{{'../Data/'+s.Image}}" style="width:10%">
            </div>
                <div class="services--description">
                    <div class="description--title">
                        {{s.Name}}
                    </div>
                    <div class="description--price">
                        {{s.Price}}
                    </div>
                    <div class="description--header">
                        Desciption
                    </div>
                    <div class="description--content">
                        {{s.Description}}
                    </div>
                </div>   
            </div>
            <div class="detail--related"> 
                <div class="detail--related--caption" >
                    Related Services
                </div>
                <div class="detail--related--option column" ng-repeat="s in selectedDepart.List">
                    <div class="related--option--box">
                        <div class="option--box--img">
                            <img class="demo cursor" src="{{'../Data/'+s.Image}}" style="width:50%"
                            ng-click="currentSlideByAn($index)" alt="">
                        </div>
                        <div class="option--box--caption">
                           {{s.Name}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
</body>

</html>