<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="../Script/angularjs.js"></script>
    <link rel="stylesheet" href="../CSS/Patient_Portal_Medical.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/Iframe.css">
    <script src="../Script/Patient_Portal.js">  
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type=text/javascript></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type=text/javascript></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../Script/Connection.js"></script>
    <title>Patient Information</title>

</head>
<body ng-app="angularApp" >
  
  <div class="header">
    <!-- navigation bar of desktop -->
  <div class="nav-desktop">
    <div class="container--1">
      <div class="box__icon">
          <a href="#"><img class="icon__phone" src="../Images/Phone.png" alt=""></a>
          <a id="contact" href=""><p>Contact Us</p></a>
      </div>
      <div class="option">
        <a class="link" target="_parent" href="Homepage.html">Home</a>
        <a class="link" target="_parent" href="About_Us.html">About Us</a>
        <a class="link" target="_parent" href="Service.html">Services</a>
        <a class="link" target="_parent" href="Our_Doctors.html">Our Doctor</a>
        <a class="link" target="_parent" href="blog.html">Blog</a>
          <div class="search">
              <input type="text" placeholder="Search">
              <a href=""><img src="../Images/search-icon.png" alt=""></a>
          </div>
        <div class="login_user" >
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user-circle"></i>
                <span class="caret" style="display: none;"></span></button>
                <ul class="dropdown-menu dropdown-menu-right ">
                    <li class="box-item-user"><a class="item-user" onclick="patientPortal()">Patient Portal</a></li>
                    <li class="box-item-user"><a class="item-user"onclick="medicalRecord()" >Medical record</a></li>
                    <li><a href="Homepage.html">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="container--2">
      <div class="name__menu">
          
          <div class="name">
            <img src="../Images/ngoinha-icon.png" alt="">
              <span>TK</span> Hospital
          </div>
      </div>
      <div class="function">
      <input class="button-function" type="submit" value="Virtual Doctor" onclick="virtualSchedule()" >
      <input class="button-function" type="submit" value="Homecare" onclick="homecareSchedule()">
      <input class="button-function function--3" type="submit" value="Schedule Appointment" onclick="basicSchedule()">
      </div>
    </div> 
  </div>
  <!-- navagation bar of ipad and phone -->
  <div class="nav-mobile">
    <div class="logo">
      <img src="../Images/ngoinha-icon.png" alt="">
        <span>TK</span> Hospital
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-bars"></i>
      <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right ">
        <li><a href="Homepage.html"><i class="fa fa-home">   </i>Home</a></li>
        <li><a href="About_Us.html"><i class="fa fa-book">   </i>About us</a></li>
        <li><a href="Services.html"><i class="fa fa-cogs">   </i>Service</a></li>
        <li><a href="Our_Doctors.html"><i class="fa fa-cogs">   </i>Our doctor</a></li>
        <li><a href="blog.html"><i class="fa fa-cogs"></i>Blog</a></li>
        <li><a href="Schedule_Virtual.html"><i class="fa fa-cogs"></i>Virtual Doctor</a></li>
        <li><a href="Schedule_Homecare.html"><i class="fa fa-cogs"></i>Homecare</a></li>
        <li><a href="Schedule_Basic.html"><i class="fa fa-cogs"></i>Schedule Appointment</a></li>
        <li><a href="Patient_Portal.html"><i class="fa fa-cogs"></i>Patient_Portal</a></li>
        <li><a href="Patient_Record.html"><i class="fa fa-cogs"></i>Medical Record</a></li>
        <li><a href="Homepage.html"><i class="fa fa-user-shield"></i>Log Out</a></li>
        <!-- cần sửa -->
        <li><a href=""><i class="fa fa-envelope"></i>Contact</a></li>
      </ul>
    </div>
</div>
</div>
  <!-- header cho patient-portal  -->
    <div class="pt-header-3" >
        <div class="pt-header-3__image">
            <img src="../IMAGES/avatar1.png" alt="Không thể tải hình">
        </div>
        <div class="pt-header-3__content" ng-controller="inforController">
            <div>Hello, {{patientInfor.Name}} </div>
            <hr>
            <div>{{patientInfor.Street}}, {{patientInfor.Ward}}, {{patientInfor.City}}</div>
            <div><span>Phone number:</span>{{patientInfor.Phone}}</div>
            <div><span>Email: {{patientInfor.Email}} </span></div>
        </div>
    </div>
    <div class="pt1-nav">
      <div class="pt1-nav__left">
        <div class="pt-navbar_1"><a href="Homepage.html">Homepage</a></div>
        <span> > </span>
        <div class="pt-navbar_2"><a href="#">Medical record</a></div>
      </div>
      <div class="pt1-nav__right">
        <button onclick="editForm()" class="pt1-nav__right--button"><i class="fa fa-edit">Edit</i></button>
      </div>
    </div>
    
    <div class="pt1-main">
        <div class="pt1-main__column pt1-main__column--1 ">
           <div class="pt1-main__column1--infor" ng-controller="inforController">
            <div class="pt1-main1__box pt1-main1__box1">
                <div><img src="../IMAGES/avatar1.png" alt="Avatar"></div>
                <div>{{patientInfor.Name}}</div>
                <div>{{patientInfor.DateOfBirth}}</div>
                <div>{{patientInfor.Email}}</div>
            </div>
            <div class="pt1-main1__box pt1-main1__box2">
                <div><span> Adress </span><br>
                  {{patientInfor.Street}}, {{patientInfor.Ward}}, {{patientInfor.City}}</div>
                <div><span>City</span><br>{{patientInfor.City}} </div>
                <div><span>Nation</span><br>{{patientInfor.Nationality}} </div>
                <div><span>Job</span><br>{{patientInfor.Job}}</div>
                <div><span>Health Insuarance Number</span><br>{{patientInfor.HealthInsuaranceCardNumber}}</div>
                <div><span>ID number</span><br>{{patientInfor.IDNumber}}</div>
            </div>
           </div> 
            <div class="pt1-main__table">
                <div id="pt2-main">
                    <div class="pt2-main__container">
                      
                      <div class="group-tabs">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" style="overflow-y: auto; ">
                          <li role="presentation" class="active">
                            <i class="fa fa-calendar"></i>
                            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Medical examination schedule</a></li>
                          <li role="presentation">
                            <i class="fa fa-credit-card"></i>
                            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Hospital fee payment history</a></li>
                          <li role="presentation">
                            <i class="fa fa-bullhorn"></i>
                            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Announcement/Event</a></li>
                          
                        </ul>
                  
                        <!-- Tab panes -->
                        <div class="tab-content" ng-controller="scheduleController">
                          <div role="tabpanel" class="tab-pane active" id="tab1">
                            <div class="pt-main__tab1">
                              <div class="tab1-row">
                                <div class="tab1-row__item">
                                  <div><span>Time</span></div>
                                  <div> {{schedule.Time}}</div>
                                </div>
                                <div class="tab1-row__item">
                                  <div><span>Treatment</span></div>
                                  <div>{{schedule.Treatment}}</div>
                                </div>
                                <div class="tab1-row__item">
                                  <div><span>Dentist</span></div>
                                  <div>{{schedule.Dentist}}</div>
                                </div>
                                <div class="tab1-row__item">
                                  <div><span>Patient number</span></div>
                                  <div>{{schedule.Patientnumber}}</div>
                                </div>
                              </div>
                            </div>
                  
                          </div>
                          <div role="tabpanel" class="tab-pane tab-pane__2" id="tab2" ng-controller="paymentController">
                            <table>
                              <tr>
                                  <th>Patient Name</th>
                                  <th>Date</th>
                                  <th>Content</th>
                                  <th>Patient code</th>
                                  <th>Reciept number</th>
                                  <th>Money</th>
                                  <th>Status</th>
                              </tr>
                              <tr ng-repeat="p in payment.payment">
                                  <td>{{p.PatientName}}</td>
                                  <td>{{p.Date}}</td>
                                  <td>{{p.Content}}</td>
                                  <td>{{p.PatientCode}}</td>
                                  <td>{{p.RecieptNumber}}</td>
                                  <td>{{p.Money}}</td>
                                  <td>{{p.Status}}</td>
                              </tr>
                              
                          </table>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="tab3" ng-controller="eventController">
                            <div class="tab3-row" ng-repeat="e in event">
                              <div class="pt2-col1">{{e.Time}}</div>
                              <div class="pt2-col2">{{e.Content}}</div>
                              <div class="pt2-col3"><button>New</button></div>
                            </div>
                            
                      
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>    
            </div>
            </div>
            <div class="pt1-main__column pt1-main__column--2">
            <div class=" pt1-main1__box3">
                <div class="pt1-main1__box3--title">
                    <div>Note</div>
                    <div></div>
                </div>
                <div id="btnSave" class="pt1-main1__box3--note">
                    <div><textarea name="" id="valueNote" cols="32" rows="5"></textarea></div>
                    <div><button  onclick="saveNote()">Save notes</button></div>
                </div>
                <div class="pt1-main1__box3--footer" ng-controller="scheduleController">
                    <div><img src="../IMAGES/human_icon.png" alt=""></div>
                    <div><span>Có hẹn khám</span><br>Doctor {{schedule.Dentist}}</div>
                    <div>{{schedule.Time}}</div>
                </div>
            </div>
            <div class="pt1-main__column2--file" ng-controller="fileController">
                <div class="pt1-main__column--title">Files/Documents</div>
                <div class="pt1-main__item--file">
                    <a id="downloadMe" href="{{file.file1}}">Medical record</a>
                    <a  href="{{file.file1}}" download="patient portal.pdf"><i class="fa fa-download"></i></a>
                </div>
                <div class="pt1-main__item--file">
                     <a href="{{file.file2}}">X-ray photo Result</a>
                    <a href="{{file.file2}}" download="X-ray photo Result.pdf"><i class="fa fa-download"></i></a>
                </div>
                <div class="pt1-main__item--file">
                    <a href="{{file.file3}}"> General results</a>
                    <a href="{{file.file3}}" download="General results.pdf"><i class="fa fa-download"></i></a>
                </div>
          
            </div>
        </div>    
      </div>
          <!--footer  -->
          <iframe id="footer" src="./footer.html" frameborder="0" name="footer" ></iframe>
    
<script>
  
</script>
    
</body>
</html>
