<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/Patient_Portal_Medical.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <title>Document</title>
    <script src="../js/angular.js"></script>
    <script>
        let app= angular.module("angularApp",[]);
      app.controller("yearController", function($scope, $http){
        $http({
          method:"GET",
          url:"../Jason/patientRecord.json"
        }).then(function success(response){
          $scope.patientRecord= response.data;
          } 
        ,
        function error(response){
          $scope.error=response.statusText;
        }
        )
        $scope.selectYear=function(year){
            $scope.prYear=year;
        }
        $scope.selectDetail=function(detail){
            $scope.prDetail=detail;
        }
      })
      
    </script>
</head>
<body ng-app="angularApp" ng-controller="yearController">
    <div class="pt">
        <iframe src="./header.html" width="100%" height="100px" frameborder="0" name="header" ></iframe>
  <div class="nav-name">
      <img src="" alt="">
      <span>TK </span>Hospital
  </div>
</div>

        <div class="pt-nav">
            <div class="pt-nav__left">
                <div class="pt-navbar_1"><a href="Homepage.html">Homepage</a></div>
                <span> > </span>
                <div class="pt-navbar_2"><a href="#">Medical Record</a></div>
            </div>
            <div class="pt-nav__right">
                <div ng-repeat="n in patientRecord" >
                    <div><a href="#" ng-click="selectYear(n)">{{n.nam[0].year}}</a> <span> | </span></div> 
                </div>
            </div>
        </div>

        <!-- <iframe name="frame-medicalrecord" src="" frameborder="0" height="900px" margin="2vh 12vw"  width="100%"></iframe> -->
        <div class="pt-main">
            <div class="pt-main__title">Health Diagnose</div>
            <div class="pt-main_1">
            <div class="pt-main__column pt-main__box--result">
                    <div class="pt-main__result--title">Health check results</div>
                    <div><span>Liver: </span>not large in size, even parenchyma, deeply hypoechoic</div>
                    <div><span>Portal and suprahepatic veins: </span>No dilatation, no thrombosis</div>
                    <div><span> Biliary tract:</span>no dilation inside and outside, no stones</div>
                    <div><span>Pancreas: </span>not large in size, even parenchyma</div>
                    <div><span>Stomach: </span> Clear gastric juice</div>
                    <div><span>Duodenal bulb: </span>normal mucosa</div>
                    <div><span>Abdominal aorta: </span>no aneurysm</div>
                    <div><span>Bladder: </span>no stones, thin wall</div>
                    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente libero quas nostrum corporis minima aut, id voluptates eaque animi sed nam quasi enim repellendus esse alias! Tenetur mollitia voluptatibus adipisci.</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, unde! Consectetur commodi necessitatibus ut nesciunt eum voluptates, ad odio facilis laboriosam corrupti est. Sapiente officiis temporibus, ratione quaerat porro deserunt?</div>
            </div>
            <div class="pt-main__column pt-main__column--2">
                <div class="pt-main__box">
                    <div class="pt-main--item">
                    <div class="pt-main--img"><img src="../Images/heart.png" alt=""></div>
                    <div><span> Heart </span><br> <br> 75%</div>
                    </div>
                    <img src="../IMAGES/thanh1.png" alt="">
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                    <div class="pt-main--img"><img src="../IMAGES/Lungs.png" alt="Lungs"></div>
                    <div><span> Lungs </span> <br><br> 80%</div>
                    </div>
                    <img src="../IMAGES/thanh2.png" alt="">
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                    <div class="pt-main--img"><img src="../IMAGES/stomach.png" alt="Stomach"></div>
                    <div><span> Stomach </span><br> <br> 30%</div>
                    </div>
                    <img src="../IMAGES/thanh3.png" alt="">
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                    <div class="pt-main--img"><img src="../IMAGES/liver.png" alt="Gan"></div>
                    <div><span> Liver </span><br> <br> 65%</div>
                    </div>
                    <img src="../IMAGES/thanh4.png" alt="">
                </div>
            </div>
            <div class="pt-main__column pt-main__column--3">
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                    <div class="pt-main--img"><img src="../IMAGES/Chiều cao.png" alt="Chiều cao"></div>
                    <div><span> Height </span><br> <br> 170cm</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                    <div class="pt-main--img"><img src="../IMAGES/Cân nặng.png" alt="Cân nặng"></div>
                    <div><span> Weight </span> <br><br> 60kg</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                    <div class="pt-main--img"><img src="../IMAGES/Nhóm máu.png" alt="Nhóm máu"></div>
                    <div><span> Blood group </span> <br><br> A</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                    <div class="pt-main--img"><img src="../IMAGES/Huyết áp.png" alt="Huyết áp"></div>
                    <div><span> Blood Pressure </span> <br><br> 134</div>
                </div>
                </div> 
            </div>
            </div>
            <div class="pt-main__item--end">
                <div class="pt-main__item--img">
                    <div><img src="../IMAGES/BP1.png" alt="Biểu đồ huyết áp"></div>
                    <div class="pt-main__item--title">Blood pressure diagram</div>
                </div>
                <div class="pt-main__item--img">
                    <div><img src="../IMAGES/HR2.png" alt="Nhịp tim"></div>
                    <div class="pt-main__item--title ">Heart rate</div>
                </div>
                <div class="pt-main__item--img">
                   <div> <img src="../IMAGES/SPO2_1.png" alt="SPO2"></div>
                   <div class="pt.main__item--title">SPO2</div>
                </div>
            </div>
        </div> 
        <div class="pt-main__years" >
            <table>
                <tr>
                    <th>Date in</th>
                    <th>Date out</th>
                    <th>Disease name</th>
                    <th>Detail</th>
                </tr>
                <tr ng-repeat="y in prYear.nam">
                    <td>{{y.dateIn}}</td>
                    <td>{{y.dateOut}}</td>
                    <td>{{y.diseaseName}}</td>
                    <td><a href="#detail" ng-click="selectDetail(y)"><i class="fa fa-eye"></i></a></td>
                </tr>
                
            </table>
        </div>
        <div class="popup-container" id="detail">
            <div class="popup-content">
                <div class="popup-header">
                    <div class="popup--date">
                        <div class="date">
                            Date in: <br>
                            28/01/2020 8:00
                        </div>
                        <div class="date">
                            Date out: <br>
                            10/02/2020 16:00
                        </div>
                    </div>
                    <div class="popup-info">
                        <div class="info--content">
                            <label for="">Health center:</label> <span id="healthCenter"></span> <br>
                            <label for="">Name of disease:</label> <span id="disease"></span> <br>
                            <label for="">Disease Code:</label> <span id="diseaseCode"></span> <br>
                            <label for="">Department:</label> <span id="department"></span> <br>
                            <label for="">Department Code:</label> <span id="departmentCode"></span> <br>
                            <label for="">Status:</label> <span id="status"></span> <br>
                        </div>
                        <div class="info--content">
                            <label for="">Total payment:</label> <span id="payment"></span> <br>
                            <label for="">Payment Status</label> <span id="paymentStatus"></span> <br>
                        </div>
                    </div>
                </div>
                <div class="popup-table">
                    <table>
                        <tr>
                            <th>Name of service</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                            
                        </tr>
                        <tr ng-repeat="d in prDetail.detail">
                            <td>{{d.nameService}}</td>
                            <td>{{d.quantity}}</td>
                            <td>{{d.unitPrice}}</td>
                            <td>{{d.total}}</td>
                        </tr>
                        
                    </table>
                </div>
                <a href="#" class="close">x</a>
            </div>
        </div> 
        
    
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type=text/javascript></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type=text/javascript></script>
    <script src="../js/custom.js" type=text/javascript></script>    

         <!--footer  -->
         <iframe src="./footer.html" frameborder="0" style="width: 100%" height="243px" name="footer" ></iframe>

    </div>
</body>
</html>
