<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../CSS/Patient_Portal_Medical.css">
    <link rel="stylesheet" href="../CSS/Iframe.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <title>Medical Record</title>
    <script src="../Script/angularjs.js"></script>
    <script src="../Script/Medical_Record.js"></script>
    <script src="../Script/Connection.js"></script>
</head>

<body ng-app="angularApp">
    <div class="header">
        <!-- navigation bar of desktop -->
        <div class="nav-desktop">
            <div class="container--1">
                <div>
                    <a href="" class="box-icon"><i class="fa fa-phone-square"></i></a>
                    <a href="">Contact us</a>
                </div>
                <div class="option">
                    <div><a class="link" target="_parent" href="Homepage.html">Home</a></div>
                    <div><a class="link" target="_parent" href="About_Us.html">About Us</a></div>
                    <div><a class="link" target="_parent" href="Service.html">Services</a></div>
                    <div><a class="link" target="_parent" href="Our_Doctors.html">Our Doctor</a></div>
                    <div><a class="link" target="_parent" href="blog.html">Blog</a></div>
                    <div class="login_user">
                        <div class="dropdown">
                            <div class="login_user--title"><i class="fa fa-user-circle"></i></div>
                            <div class="dropdown-content">
                                <p><a class="item-user" onclick="patientPortal()"><i class="fa fa-window-restore">&nbsp
                                            &nbsp</i> Patient Portal</a></p>
                                <p><a class="item-user" onclick="medicalRecord()"><i class="fa fa-book">&nbsp &nbsp</i>
                                        Medical record</a></p>
                                <p><a href="Homepage.html"><i class="fa fa-user-shield">&nbsp &nbsp</i> Log out</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container--2">
                <div class="name__menu">

                    <div class="name">
                        <img src="../Images/ngoinha-icon.png" alt="">
                        <span class="logo_title">TK</span> Hospital
                    </div>
                </div>
                <div class="function">
                    <input class="button-function" type="submit" value="Virtual Doctor" onclick="virtualSchedule()">
                    <input class="button-function" type="submit" value="Homecare" onclick="homecareSchedule()">
                    <input class="button-function function--3" type="submit" value="Schedule Appointment"
                        onclick="basicSchedule()">
                </div>
            </div>
        </div>
        <!-- navagation bar of ipad and phone -->
        <div class="nav-mobile">
            <div class="logo">
                <img src="../Images/ngoinha-icon.png" alt="">
                <span>TK</span> Hospital
            </div>
            <div class="nav-right">
                <div class="dropdown">
                    <div class="nav-right__icon"><i class="fa fa-bars"></i></div>
                    <div class="dropdown-content">
                        <p><a href="Homepage.html"><i class="fa fa-home">&nbsp &nbsp</i>Home</a></p>
                        <p><a href="About_Us.html"><i class="fa fa-book"> &nbsp &nbsp </i>About us</a></p>
                        <p><a href="Services.html"><i class="fa fa-cogs"> &nbsp &nbsp </i>Service</a></p>
                        <p><a href="Our_Doctors.html"><i class="fa fa-user-md"> &nbsp &nbsp </i>Our doctor</a></p>
                        <p><a href="blog.html"><i class="fa fa-book">&nbsp &nbsp</i>Blog</a></p>
                        <p><a href="Schedule_Virtual.html"><i class="fa fa-bed">&nbsp &nbsp</i>Virtual Doctor</a></p>
                        <p><a href="Schedule_Homecare.html"><i class="fa fa-home">&nbsp &nbsp</i>Homecare</a></p>
                        <p><a href="Schedule_Basic.html"><i class="fa fa-calendar">&nbsp &nbsp</i>Schedule
                                Appointment</a></p>
                        <p><a href="Patient_Portal.html"><i class="fa fa-window-restore">&nbsp
                                    &nbsp</i>Patient_Portal</a></p>
                        <p><a href="Patient_Record.html"><i class="fa fa-clipboard">&nbsp &nbsp</i>Medical Record</a>
                        </p>
                        <p><a href="Homepage.html"><i class="fa fa-user-shield">&nbsp &nbsp</i>Log Out</a></p>
                        <p><a href=""><i class="fa fa-envelope">&nbsp &nbsp</i>Contact</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="yearController">
        <div class="pt-nav">
            <div class="pt-nav__left">
                <div class="pt-navbar_1"><a href="Homepage.html">Homepage</a></div>
                <span> > </span>
                <div class="pt-navbar_2"><a href="#">Medical Record</a></div>
            </div>
            <div class="pt-nav__right">
                <div ng-repeat="n in patientRecord.medicalRecord">
                    <div><a href="#yearSelect" ng-click="selectYear(n)">{{n.nam[0].year}}</a> <span> | </span></div>
                </div>
            </div>
        </div>


        <div class="pt-main" ng-controller="diagnoseController">
            <div class="pt-main__title"> Newest Health Diagnose</div>
            <div class="pt-main_1">
                <div class="pt-main__column pt-main__box--result">
                    <div class="pt-main__result--title">Health check results</div>
                    <!-- <div ng-repeat="n in healthDiagnose.checkResults">
                        - {{n}}
                    </div> -->
                    <div><span>Liver: </span>{{healthDiagnose.checkResults.Liver}}</div>
                    <div><span>Portal and suprahepatic veins:
                        </span>{{healthDiagnose.checkResults.PortalAndSuprahepaticveins}}</div>
                    <div><span> Biliary tract:</span>{{healthDiagnose.checkResults.BiliaryTract}}</div>
                    <div><span>Pancreas: </span>{{healthDiagnose.checkResults.Pancreas}}</div>
                    <div><span>Stomach: </span> {{healthDiagnose.checkResults.Stomach}}</div>
                    <div><span>Duodenal bulb: </span>{{healthDiagnose.checkResults.DuodenalBulb}}</div>
                    <div><span>Abdominal aorta: </span>{{healthDiagnose.checkResults.AbdominalAorta}}</div>
                    <div><span>Bladder: </span>{{healthDiagnose.checkResults.Bladder}}</div>
                    <div>{{healthDiagnose.checkResults.avaluate}}</div>
                    <div>{{healthDiagnose.checkResults.avaluate}}</div>
                </div>
                <div class="pt-main__column pt-main__column--2">
                    <div class="pt-main__box">
                        <div class="pt-main--item">
                            <div class="pt-main--img"><img src="../Images/heart.png" alt=""></div>
                            <div><span> Heart </span><br> <br> {{healthDiagnose.heart.scale}}</div>
                        </div>
                        <img src="{{healthDiagnose.heart.range}}" alt="">
                    </div>
                    <div class="pt-main__box">
                        <div class="pt-main--item">
                            <div class="pt-main--img"><img src="../IMAGES/Lungs.png" alt="Lungs"></div>
                            <div><span> Lungs </span> <br><br> {{healthDiagnose.lungs.scale}}</div>
                        </div>
                        <img src="{{healthDiagnose.lungs.range}}" alt="">
                    </div>
                    <div class="pt-main__box">
                        <div class="pt-main--item">
                            <div class="pt-main--img"><img src="../IMAGES/stomach.png" alt="Stomach"></div>
                            <div><span> Stomach </span><br> <br> {{healthDiagnose.stomach.scale}}</div>
                        </div>
                        <img src="{{healthDiagnose.stomach.range}}" alt="">
                    </div>
                    <div class="pt-main__box">
                        <div class="pt-main--item">
                            <div class="pt-main--img"><img src="../IMAGES/liver.png" alt="Gan"></div>
                            <div><span> Liver </span><br> <br> {{healthDiagnose.liver.scale}}</div>
                        </div>
                        <img src="{{healthDiagnose.liver.range}}" alt="">
                    </div>
                </div>
                <div class="pt-main__column pt-main__column--3">
                    <div class="pt-main__box pt-main__box-2">
                        <div class="pt-main--item">
                            <div class="pt-main--img"><img src="../IMAGES/Chiều cao.png" alt="Chiều cao"></div>
                            <div><span> Height </span><br> <br> {{healthDiagnose.height}}</div>
                        </div>
                    </div>
                    <div class="pt-main__box pt-main__box-2">
                        <div class="pt-main--item">
                            <div class="pt-main--img"><img src="../IMAGES/Cân nặng.png" alt="Cân nặng"></div>
                            <div><span> Weight </span> <br><br> {{healthDiagnose.weight}}</div>
                        </div>
                    </div>
                    <div class="pt-main__box pt-main__box-2">
                        <div class="pt-main--item">
                            <div class="pt-main--img"><img src="../IMAGES/Nhóm máu.png" alt="Nhóm máu"></div>
                            <div><span> Blood group </span> <br><br> {{healthDiagnose.bloodGroup}}</div>
                        </div>
                    </div>
                    <div class="pt-main__box pt-main__box-2">
                        <div class="pt-main--item">
                            <div class="pt-main--img"><img src="../IMAGES/Huyết áp.png" alt="Huyết áp"></div>
                            <div><span> Blood Pressure </span> <br><br> {{healthDiagnose.bloodPressure}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-main__item--end">
                <div class="pt-main__item--img">
                    <div><img src="{{healthDiagnose.bloodPressureDiagram}}" alt="Biểu đồ huyết áp"></div>
                    <div class="pt-main__item--title">Blood pressure diagram</div>
                </div>
                <div class="pt-main__item--img">
                    <div><img src="{{healthDiagnose.heartRate}}" alt="Nhịp tim"></div>
                    <div class="pt-main__item--title ">Heart rate</div>
                </div>
                <div class="pt-main__item--img">
                    <div> <img src="{{healthDiagnose.spo2}}" alt="SPO2"></div>
                    <div class="pt.main__item--title">SPO2</div>
                </div>
            </div>
        </div>
        <div class="pt-main__years" id="yearSelect">
            <table>
                <tr>
                    <th>Date in</th>
                    <th>Date out</th>
                    <th>Disease name</th>
                    <th>Detail</th>
                </tr>
                <tr ng-repeat="y in prYear.nam">
                    <td>{{y.dateIn}}</td>
                    <td>{{y.dateOut}}</td>
                    <td>{{y.diseaseName}}</td>
                    <td><a href="#detail" ng-click="selectDetail(y)"><i class="fa fa-eye"></i></a></td>
                </tr>

            </table>
        </div>
        <div class="popup-container" id="detail">
            <div class="popup-content">
                <div class="popup-header">
                    <div class="popup--date">
                        <div class="date">
                            Date in: <br>
                            {{prDetail.dateIn}}
                        </div>
                        <div class="date">
                            Date out: <br>
                            {{prDetail.dateOut}}
                        </div>
                    </div>
                    <div class="popup-info">
                        <div class="info--content">
                            <div><span>Disease code: </span>{{prDetail.inforKhamBenh.diseaseCode}}</div>
                            <div><span>Department: </span>{{prDetail.inforKhamBenh.department}}</div>
                            <div><span>Payment total:
                                </span>{{prDetail.detail[0].total+prDetail.detail[1].total+prDetail.detail[2].total}}
                            </div>
                            <div><span>Payment status: </span>{{prDetail.inforKhamBenh.paymentStatus}}</div>

                        </div>
                    </div>
                </div>
                <div class="popup-table">
                    <table>
                        <tr>
                            <th>Name of service</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>

                        </tr>
                        <tr ng-repeat="d in prDetail.detail">
                            <td>{{d.nameService}}</td>
                            <td>{{d.quantity}}</td>
                            <td>{{d.unitPrice}}</td>
                            <td>{{d.total}}</td>
                        </tr>

                    </table>
                </div>
                <a href="#" class="close">x</a>
            </div>
        </div>
    </div>
    <iframe id="footer" src="./footer.html" frameborder="0" name="footer"></iframe>

    </div>
</body>

</html>