<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TK Hospital | Basic Service</title>
    <link rel="stylesheet" href="../CSS/Schedule_VIP_Basic.css">
    <link rel="stylesheet" href="../CSS/Iframe.css">
  <link rel="stylesheet" href="../CSS/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/Script/angularjs.js"></script>
    <script src="../Script/Schedule_Script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="../Script/Connection.js"></script>

    <script>
         var urlparams = new URLSearchParams(location.search);
         var id = urlparams.get("userID");
    </script>
</head>
<body>
  <div class="header">
    <!-- navigation bar of desktop -->
<div class="nav-desktop">
<div class="container--1">
<div >
    <a href="" class="box-icon"><i class="fa fa-phone-square" ></i></a>
    <a href="">Contact us</a>
</div>
<div class="option">
  <div><a class="link" target="_parent" href="Homepage.html">Home</a></div>
  <div><a class="link" target="_parent" href="About_Us.html">About Us</a></div>
  <div><a class="link" target="_parent" href="Service.html">Services</a></div>
  <div><a class="link" target="_parent" href="Our_Doctors.html">Our Doctor</a></div>
  <div><a class="link" target="_parent" href="blog.html">Blog</a></div>
  <!-- <div class="header-search">
      <input type="text" placeholder="Search">
      <a href=""><img src="../Images/search-icon.png" alt=""></a>
  </div> -->
  <div class="login_user" >
      <div class="dropdown">
        <div class="login_user--title"><i class="fa fa-user-circle"></i></div>
        <div class="dropdown-content">
          <p><a class="item-user" onclick="patientPortal()"><i class="fa fa-window-restore">&nbsp &nbsp</i> Patient Portal</a></p>
          <p><a class="item-user"onclick="medicalRecord()" ><i class="fa fa-book">&nbsp &nbsp</i> Medical record</a></p>
          <p><a href="Homepage.html"><i class="fa fa-user-shield">&nbsp &nbsp</i> Log out</a></p>
        </div>
      </div>
  </div>
</div>
</div>
<div class="container--2">
<div class="name__menu">
    
    <div class="name">
      <img src="../Images/ngoinha-icon.png" alt="">
        <span class="logo_title">TK</span> Hospital
    </div>
</div>
<div class="function">
<input class="button-function" type="submit" value="Virtual Doctor" onclick="virtualSchedule()" >
<input class="button-function" type="submit" value="Homecare" onclick="homecareSchedule()">
<input class="button-function function--3" type="submit" value="Schedule Appointment" onclick="basicSchedule()">
</div>
</div> 
</div>
<!-- navagation bar of ipad and phone -->
<div class="nav-mobile">
<div class="logo">
<img src="../Images/ngoinha-icon.png" alt="">
  <span>TK</span> Hospital
</div>
<div class="nav-right">
<div class="dropdown">
  <div class="nav-right__icon"><i class="fa fa-bars"></i></div>
  <div class="dropdown-content">
      <p><a href="Homepage.html"><i class="fa fa-home">&nbsp &nbsp</i>Home</a></p>
      <p><a href="About_Us.html"><i class="fa fa-book"> &nbsp &nbsp  </i>About us</a></p>
      <p><a href="Services.html"><i class="fa fa-cogs"> &nbsp &nbsp  </i>Service</a></p>
      <p><a href="Our_Doctors.html"><i class="fa fa-user-md"> &nbsp &nbsp  </i>Our doctor</a></p>
      <p><a href="blog.html"><i class="fa fa-book">&nbsp &nbsp</i>Blog</a></p>
      <p><a href="Schedule_Virtual.html"><i class="fa fa-bed">&nbsp &nbsp</i>Virtual Doctor</a></p>
      <p><a href="Schedule_Homecare.html"><i class="fa fa-home">&nbsp &nbsp</i>Homecare</a></p>
      <p><a href="Schedule_Basic.html"><i class="fa fa-calendar">&nbsp &nbsp</i>Schedule Appointment</a></p>
      <p><a href="Patient_Portal.html"><i class="fa fa-window-restore">&nbsp &nbsp</i>Patient_Portal</a></p>
      <p><a href="Patient_Record.html"><i class="fa fa-clipboard">&nbsp &nbsp</i>Medical Record</a></p>
      <p><a href="Homepage.html"><i class="fa fa-user-shield">&nbsp &nbsp</i>Log Out</a></p>
      <p><a href=""><i class="fa fa-envelope">&nbsp &nbsp</i>Contact</a></p>
  </div>
</div>
</div>
</div>  

</div>
</div>
        <div class="main"  style="background-image: url(../Images/Schedule.png);">
            <form class="form" action="./Schedule_Basic_Confirm.html" method="get"
            ng-app="ScheduleApp" ng-controller="UserController" >
                <span class="form-title">Register for Basic Service</span>
                <div class="row">
                    <div class="col">
                      <label class="form-label">Full Name</label>
                      <input id="fullname" name="fullname" type="text" class="form-control" placeholder="Full name" ng-model="users.Name" >
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <label class="form-label">Address</label>
                      <input type="text" id="address" name="address" class="form-control" placeholder="Address" required ng-model="users.Street+', '+users.Ward+', '+users.City">
                    </div>
                    <div class="col">
                        <label class="form-label">Phone Number</label>
                        <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone number" required ng-model="users.Phone">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label">Date you want to test</label>
                        <input id="datetimepicker" name="date" type="date" class="form-control" required>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn-sm" type="submit">Submit the form</button>
                </div>
            </form>
            <div class="regis">
                <div class="row">
                    <div class="col-12">
                        <button onClick="window.location.href='./Schedule_VIP.html';" class="regis-btn" type="submit">Register for VIP Service</button>
                    </div>
                </div>
            </div>
        </div>
        <iframe id="footer" src="./footer.html" frameborder="0" name="footer" ></iframe>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script>
          $(function(){
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var minDate= year + '-' + month + '-' + day;
    
    $('#datetimepicker').attr('min', minDate);
});
      </script>
</body>
</html>
