<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../CSS/services.css">
<link rel="stylesheet" href="../CSS/header.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Details</title>
    <script src="../Script/angularjs.js"></script>

    <style>
        @import url(../CSS/footer.css);
        @import url(../CSS/header.css);
        @import url(../CSS/Services.css);
        @import url(../CSS/Service_Details.css);
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
</head>

<body>
    <iframe src="./header.html" frameborder="0" style="width: 100%;" height="100%" name="header"></iframe>
    <div class="service--optionbar">
        <div class="service--optionbar--links">
            <a href="Services_Package.html">Package Services</a>
        </div>
        <div class="service--optionbar--links">
            <a href="Services_Specialist.html">Specialization</a>
        </div>
        <div class="service--optionbar--links">
            <a href="Services_After_Hours.html">After Hours Services</a>
        </div>
    </div>

    <div ng-app="ServiceApp" class="detail--container ">
        <div ng-controller="ServiceController" class="detail--column-one dropdown">
            <div class="column--one--header ">
                Specialization
            </div>
            <div  class="dropdown-content column--one--header">
                <a ng-repeat="d in serviceList" href="./Services_Details.html?ID={{d.DepartId}}">
                    {{d.Department}}
                </a>
            </div>
        </div>
        <div ng-controller="ServiceDetailController" class="detail--column-two">
            <div>
                <div class="detail--description mySlides" ng-repeat="s in selectedDepart.List" ng-style="$first ? { 'display':'flex' } : { 'display': 'none' }"
                   >
                    <div class="description--image">
                        <img src="{{'../Images/'+s.Image}}">
                    </div>
                    <div class="services--description">
                        <div class="description--title">
                            {{s.Name}}
                        </div>
                        <div class="description--price">
                            {{s.Price}}
                        </div>
                        <div class="description--header">
                            Desciption
                        </div>
                        <div class="description--content">
                            {{s.Description}}
                        </div>
                    </div>
                </div>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>
                <div class="row detail--related">
                    <div class="detail--related--caption">
                        Related Services
                    </div>
                    <div class="row detail--related--option">
                        <div ng-repeat="s in selectedDepart.List" class="column related--option--box">
                            <div class="option--box--img">
                                <img class="demo cursor" src="{{'../Images/'+s.Image}}"
                                    ng-click="currentSlideByAn($index)" alt="">
                            </div>
                            <div class="option--box--caption">{{s.Name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe id="footer" src="./footer.html" frameborder="0" name="footer" ></iframe>
</body>

<script>
    var urlparams = new URLSearchParams(location.search);
    var id = urlparams.get("ID");
</script>
<script src="../Script/Service_Details.js" defer></script>

</html>