<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../CSS/services.css">
<link rel="stylesheet" href="../CSS/header.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Details</title>
    <style>
        @import url(../CSS/footer.css);
        @import url(../CSS/header.css);
        @import url(../CSS/services.css);
        @import url(../CSS/service--details.css);
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <script src="../Script/angularjs.js"></script>
    <script src="../Script/Service_details.js"></script>
</head>

<body>
    <iframe src="./header.html" frameborder="0" style="width: 100%;" height="100%" name="header" ></iframe>
    <div class="service--optionbar">
        <div class="service--optionbar--links">
            <a href="Services-package.html">Package Services</a>
        </div>
        <div class="service--optionbar--links">
            <a href="Services-specialist.html">Specialization</a>
        </div>
        <div class="service--optionbar--links">
            <a href="Services-after-hours.html">After Hours Services</a>
        </div>
    </div>
    
    <div class="detail--container" ng-app="ServiceApp" ng-controller="ServiceController">
        <div class="detail--column-one">
            <div class="column--one--header">
                Specialization
            </div>
            <div class="column--one--specializaion">

            </div>
        </div>
        <div class="detail--column-two">
            <div class="detail--description" ng-model="default" ng-if="ServiceDetail">
                <div class="description--image">
                    <img src="../Images/dentist 3.jpg" alt="">
                </div>
                <div class="services--description">
                    <div class="description--title">
                        ServiceDetail.Name
                    </div>
                    <div class="description--price">
                        200.000VNĐ - 500.000VNĐ
                    </div>
                    <div class="description--header">
                        Description
                    </div>
                    <div class="description--content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, harum. Vero modi sit at error, deleniti veniam culpa ratione. Minima, reprehenderit eligendi quia sint quidem dolores! Suscipit veritatis blanditiis nobis.
                    </div>
                </div>
            </div>
            <div class="detail--related"> 
                <div class="detail--related--caption" >
                    Related Services
                </div>
                <div class="detail--related--option" ng-repeat="s in serviceList[0].List| limitTo:4 ">
                    <div class="related--option--box">
                        <div class="option--box--img">
                            <img src="{{'../Images/'+s.Image}}" alt="">
                        </div>
                        <div class="option--box--caption" ng-click="selectService(s)">
                           {{s.Name}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
