
#home__background-1{
    background-image: linear-gradient(rgba(152, 206, 226, 1),rgba(152, 206, 226, 0.5)), url(../IMAGES/BKG_right.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70vw;
    height: 110vh;
    border-bottom-right-radius: 35%;
}
.home__title{
    font-size: 70px;
    font-weight: bold;
    margin-left: 5%;
    padding-top: 50px;
}
.tk{
    color: red;
}
.home__content-1{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 5%;
    margin-top: -25px;
}
.home__content-2{
    font-size: 45px;
    font-weight: bold;
    color: rgba(76, 71, 71, 1);
    margin-left: 5%;
    margin-top: 10%;
}
.home__content-3{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: rgba(76, 71, 71, 1);
    margin-left: 5%;
    margin-top: 20px;
}
.home__content-4{
    font-size: 30px;
    font-weight: bold;
    color: rgba(76, 71, 71, 1);
    margin-left: 5%;
    margin-top: 8%;
}
#home--search{
    width: 40%;
    margin-left: 5%;
}
#home__button--writemail{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
#home__button--go{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(39, 80, 89, 1);
    color: white;
    font-weight: bold;
    position: absolute;
    z-index:2 ;
    margin-top: -38px;
    margin-left: 24%;
}
#home--circle{
   
    float: right;
    margin-top: 17%;
    margin-right: -33%;
}
#home__img--1{
    max-width: 550px;
    max-height: 550px;
}
.home__container--item-1{
    background-image: url(../IMAGES/Homepage\ 2.png);
    background-size: 100% auto;
    width: 98vw;
    height: 110vh;
    display: flex;
    position: relative;
    z-index: 1;
}
#home__header-1{
    position: absolute;
    z-index: 2;
    right: 8%;
    margin-top: 3%;
    font-size: 45px;
    font-weight: bold;
    color: rgba(78, 84, 87, 1);
    text-align: end;
}

.detail--1{
    width: 320px;
    height: 500px;
    background: linear-gradient(rgba(115, 188, 217, 1),rgba(115, 188, 217, 0.48));
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 9%;
    text-decoration: none;
}
.detail--2{
    width: 320px;
    height: 500px;
    background: linear-gradient(rgba(115, 188, 217, 0.48),rgba(115, 188, 217, 0.5486),rgba(115, 188, 217, 1));
    border-radius: 20px;
    margin-top: 11%;
    margin-left: 9%;
    text-decoration: none;
}
.detail--3{
    width: 320px;
    height: 500px;
    background: linear-gradient(rgba(115, 188, 217, 1),rgba(115, 188, 217, 0.48));
    border-radius: 20px;
    margin-top: 16%;
    margin-left: 9%;
    text-decoration: none;
}
.home--titlebutton{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(76, 71, 71, 1);
    margin-top: 20px;
}
#home__header-2{
    position: absolute;
    z-index: 2;
    left: 9%;
    margin-top: -10%;
    font-size: 45px;
    font-weight: bold;
    color: rgba(147, 17, 17, 1);
}